
<h1>
  List of users
</h1>

<hr>

<!--<form action="/insert_department" method="post">
  <div>
    <label for="name_box">
      Name
    </label>

    <input type="text" id="name_box" name="query_name">
  </div>

  <button>
    Create department
  </button>
</form>
-->
<hr>

<table class="table" border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Name
    </th>

    <th>
    </th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>

      <td>
        <%= user.username %>
      </td>

      <td>
        <a href="users/<%= user.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>

<hr>
